@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  text-align: center;
  background: url('https://images.unsplash.com/photo-1595113316349-9fa4eb24f884?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2072&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
}

h1 {
  margin-top: 7rem;
  font-size: 2.5rem;
}

form {
  margin-top: 2rem;
}

label {
  font-size: 1.5rem;
}

input[type='text'] {
  width: 3%;
  padding: 3px;
}

input[type='submit'] {
  padding: 10px;
  margin-left: 3px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #6495ed;
  color: #fff;
  box-shadow: 0px 3px 7px 2px #808080;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
}

input[type='submit']:hover {
  filter: brightness(110%);
}

input[type='submit']:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 5px 0px #808080;
}

.lorem-para {
  width: 50%;
  margin: 2rem auto;
  font-size: 1.05rem;
}

button {
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0px 3px 7px 1px #808080;
}

button:hover {
  background-color: whitesmoke;
  color: #000000;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 5px 0px #808080;
}

.selection {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection label {
  margin-right: 1rem;
  font-size: 1.25rem;
}

/* Media Queries */

@media screen and (max-width: 1600px) {
  h1 {
    margin-top: 15rem;
    font-size: 2rem;
  }
  .lorem-para {
    width: 75%;
    text-align: justify;
  }
}

@media screen and (max-width: 876px) {
  h1 {
    margin-top: 12rem;
    font-size: 1.7rem;
  }
  .selection {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .selection div:last-child {
    width: 200px;
  }

  .selection div:last-child input {
    margin-left: -2px;
  }

  .lorem-para {
    width: 95%;
    text-align: justify;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.75rem;
    margin-top: 1.25rem;
  }

  label {
    font-size: 1.25rem;
  }

  .selection {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .selection div label {
    font-size: 1.1rem;
  }

  .selection div:first-child {
    margin-top: 1rem;
  }
  .selection div:last-child {
    width: 200px;
  }
  .selection div:last-child input {
    margin-left: -22px;
  }

  .lorem-para {
    width: 95%;
    text-align: justify;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  input[type='text'] {
    margin-bottom: 1rem;
    width: 30%;
  }
}
